body {
    margin: 5px 250px 40px 250px;
}

h1 {
    color: #8946A6;
    font-size: open sans;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 9px;
    resize: vertical;
}

input[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 9px;
    resize: vertical;
}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #B762C1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    float: center;
}

input[type=submit]:hover {
    background-color: #FFCDDD;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.active {
    background-color: #8946A6;
}


.container {
    border-radius: 12px;
    background-color: #EA99D5;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
    padding-left: 6px;
}

h3 {
    padding-left: 15px;
}

.col-65 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-55 {
    float: left;
    width: 5%;
    margin-top: 6px;
}

.col-15 {
    border-radius: 9px;
    padding-bottom: 20px;
}



.matkul {
    float: left;
    padding-left: 5px;
    width: 25%;
    margin-top: 6px;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 70%;
        margin-top: 0;
        padding-right: 50px;
    }
}